html{
    background: url(music.jpg) bottom center no-repeat;
    background-size: cover;
    height: 100vh;
  }

.container{
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
  }
.key{
    border: .4rem solid black;
    border-radius: .2rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 8rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 .5rem black; 
  }
kbd{
    display: block;
    font-size: 4rem;
}
.sound {
    font-size: 1.6rem;
    color: #000000;
}
.playing {
    transform: scale(1.1);
    border-color: #1a1917;
    box-shadow: 0 0 1rem #ffc600;
  }